body {
  font-family: "Karla", sans-serif;
  background-color: #F5F7FB;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 98vh;
  background-image: url("./assets/blob-top.svg"), url("./assets/blob-bottom.svg");
  background-position: right top, bottom left;
  background-repeat: no-repeat, no-repeat;
}

.front--page {
  text-align: center;
  color: #293264;
  max-width: 45%;
  margin: 0 auto 3.75em auto;
}

.title {
  font-size: 2.25rem;
}

.desc {
  line-height: 1.25em;
  font-weight: 500;
  font-size: 1.25rem;
}

.start--quiz {
  background-color: #4D5B9E;
  border: none;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 1.25rem;
  padding: 0.8em 2.25em;
  cursor: pointer;
  border-radius: 0.75em;
}

.start--quiz:active {
  color: #DEEBF8;
}